
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*{
  font-family: 'Kanit', sans-serif;
}

#calc{
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#card{
  backdrop-filter: blur(15px);
  background-color: rgb(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

#main{
  background: rgb(63,94,251);
}

input{
  text-decoration: none;
  color: black;
}
input:focus-within{
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


@media (prefers-color-scheme: light) {
  #main{
    background: url(https://source.unsplash.com/E8Ufcyxz514/2400x1823) center / cover no-repeat fixed;
  }
}

@media (prefers-color-scheme: dark) {
  #main{
    background: url(https://media.istockphoto.com/photos/jack-olantern-sits-on-porch-in-front-of-corn-stalks-and-rising-moon-picture-id1413297188?k=20&m=1413297188&s=612x612&w=0&h=I7ajTHOaj2CpDGWYGg-9bla81vsGbI3Fog8AWgG-dco=)
    center / cover no-repeat fixed;
  }
}
